﻿@model List<Api.Models.Audio>

@{
    Layout = null;
}

@if (Model.Count > 0)
{
    foreach (var a in Model)
    {
        <span>@a.Artist - @a.Title</span>
        <audio controls preload="none" data-duration="@a.Duration" data-owner-id="@a.OwnerId" data-song-id="@a.Id">
            <source src="@a.Url" />
        </audio>
    }
}
else
{
    <span>No Music Today :(</span>
}
<script>
    $(document).ready(function () {
        $("audio").on("play", function () {
            if (!$(this).hasClass("data-loaded")) {
                LoadData(this);
                $('.data-loaded').removeClass("data-loaded");
                $(this).addClass('data-loaded');
                lastSecond = 0;
                $("#MessagesPlace").html("");
            }
        });
        $("audio").on("timeupdate", function () {
            var currTime = Math.floor($(this).prop("currentTime"));
            if (currTime == lastSecond)
                return;
            lastSecond = currTime;
            for (var i = 0; i < currTime; i++) {
                $(".chat-message-row[data-time='" + i + "']").show();
            }
            var duration = Math.floor($(this).prop("duration"));
            for (var i = currTime; i < duration; i++) {
                $(".chat-message-row[data-time='" + i + "']").hide();
            }
        });
    })
</script>
@Scripts.Render("~/Scripts/Player/bootstrap3_player.js")