﻿@{ 
    var currentUser = Models.Auth.Authentication.CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Player/bootstrap3_player.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/style.css?nocache="+DateTime.Now.ToShortDateString())
</head>
<body>
    <div class="page-wraper">
        <div class="navbar navbar-inverse header">
            <div class="container">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>-->
                    <ul class="nav navbar-nav navbar-left">
                        <li><a style="padding:0!important" class="navbar-brand" href="/"><img class="top_profil_image img-responsive img-circle" style="height:90px; margin:0!important;" src='Content/img/hedghack2.jpg' /></a></li>
                        <li class="divider"></li>   
                        <li><label class="user-name"style="margin-left:80px;margin-right:0px;">Hedgehog Music</label></li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><label class="user-name">@currentUser.FirstName @currentUser.LastName</label></li>
                        <li class="divider"></li>                        
                        <li><img src="@currentUser.Photo" class=" top_profil_image img-circle img-responsive" alt="Фото користувача"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account")" class="buttom-exit btn btn-small">
                                <i class="glyphicon glyphicon-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
            <!--<hr />-->
        </div>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
