﻿
<button class="btn sorting" type="button" data-toggle="modal" data-target="#myModal">Фільтрувати<i class="glyphicon glyphicon-filter"></i></button>
<div id="myModal" class="modal fade" tabindex="-1"> 
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
<h4 class="modal-title">Фільтр</h4>
</div>
<div class="modal-body">    
    <span class="text-left">Назва треку  <input class="search-box" type="text" placeholder="Type something…"></span>
    <hr />
    <span class="text-left">Виконавець  <input class="search-box" type="text" placeholder="Type something…"></span>
    <hr />
    <span class="text-left">Жанр</span>
        <div class="dropdown search-box">           
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Жанр музики<i class="glyphicon glyphicon-arrow-down"></i>
            </button>
<ul class="dropdown-menu">
 <li><a href="#">Реп(гавно)</a></li>
 <li><a href="#">Рок</a></li>
 <li><a href="#">Хіп-Хоп</a></li>
</ul>
</div>
    <hr />
    
        <span class="text-left">Оцінка</span>
    <div class="rating">
	         <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
    </div>    
    </div>
<div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
</div>
</div>
</div>
<br />
<br />

<div class="tabs col-xs-5" style="float:right;">
  <!-- Навігація по вкладках -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#first-tab" aria-controls="first-tab" role="tab" data-toggle="tab">Лайвчат</a></li>
    <li><a href="#second-tab" aria-controls="second-tab" role="tab" data-toggle="tab">Текст пісні</a></li>
  </ul>
  <!-- Те що міститься в вкладках -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="first-tab">            <!--Перша вкладка-->
        <div class="live-chat col-xs-5" id="live-chat">
    
    <div class="row" style="overflow:hidden">
        <div id="MessagesPlace"></div>
    </div>

    <div class="row send-row">
        <div class="col-xs-10">
            @Html.TextBox("Message");
        </div>
        <div class="col-xs-2">
            <br /><input type="button" id="enterMessage" class="btn btn-primary form-horizontal send-massage" style="float: right; background-color:darkgoldenrod;" />
        </div>
    </div>    
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="second-tab">                     <!--Друга вкладка-->

        <div class="rating" style="float: left;">
	        <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
            <span><img src="../../Content/img/star-off.png" class="img-responsive"/></span>
    </div>  
    </div>       
    </div>
    </div>

<div id="raiting_star">
<div id="raiting">
<div id="raiting_blank"></div> <!--блок пустых звезд-->
<div id="raiting_hover"></div> <!--блок  звезд при наведении мышью-->
<div id="raiting_votes"></div> <!--блок с итогами голосов -->
</div>
<div id="raiting_info"><h5>Тут будет иконка загрузки и все такое</h5></div>
</div>




