﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row filters">
    @Html.Partial("~/Views/Home/_Partials/_Filters.cshtml")
</div>
<div class="row">
    <div class="col-xs-7 site-column audio-handler" id="audio-handler">
        @Html.Action("Get", "Audio");
    </div>
    <div class="col-xs-5 site-column chat-coments">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="liveChatPane">
                @Html.Partial("~/Views/Home/_Partials/_LiveChat.cshtml")
            </div>
            <div class="tab-pane fade" id="ratingsPane">
                @Html.Partial("~/Views/Home/_Partials/_Ratings.cshtml")
            </div>
        </div>
    </div>
</div>
