﻿html, .page-wraper {
    height: 100%;
    max-height: 100%;
    background-color: #4b4444!important;
}

body {
    overflow:hidden;
    padding-top: 0px;
    max-height: 100%;
    height: 100%;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
