﻿.top_profil_image,
.img-circle{
    margin-top: 20px!important;
    margin-right: 0px!important;
    }

.user-name {
    color: darkorange;
    margin-top:60px!important;
    margin-right: 80px!important;
    font-size: 18px!important;
    text-decoration: underline!important;
}
.buttom-exit{
width: 25px!important;
height: 25px!important;
}
.sorting {
/*margin-top: 75px!important;*/
background-color:darkgoldenrod;
border-color:darkgoldenrod;
margin-left:7%;
}

.drop-down_menu,
.dropdown-menu {
/*margin-left:40px!important;
margin-right:40px!important;*/

}

.drop-down_menu {
background-color: #d1872c!important;
border-color: #d1872c!important;
}

.navbar-inverse{
  /*background: url('/Content/img/header.png')!important;*/
    background-color: #1e1716!important;
    border-color: #1e1716!important;
    height: 15%!important;
    width: 99%!important;
    margin-left:0.5%!important;
    margin-right:0.5%!important;
        background: -moz-linear-gradient(bottom, #1e1716 0%,#4b4444 100%);
    background: -webkit-linear-gradient(bottom, #1e1716 0%,#4b4444 100%);
    background: -o-linear-gradient(bottom, #1e1716 0%,#4b4444 100%);
    background: linear-gradient(bottom, #1e1716 0%,#4b4444 100%);
}
.search-box {
float:right;
}

body{
    background-color: #ffffff!important;
    
    padding-bottom: 0px!important;
}

.rating {
    unicode-bidi: normal!important;
    direction: rtl!important;
}
.rating > span {
  display: inline-block!important;
  position: relative!important;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: '';
   background: url('img/star-on.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
   width:100%;
   height:100%;
   position: absolute!important;
}
.user-rate {
    unicode-bidi: normal!important;
    direction: rtl!important;
}


.navbar-right {
margin-right:0%!important;
}

.site-column
{
    overflow-y:auto;
}

/*______________________________________________________________________Скрол___________________________________________________________*/
::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:6px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:#32312e; 
box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color:#ffcb17; 
box-shadow:0px 1px 1px #fff inset; 
background-image:url('http://yraaa.ru/_pu/24/59610063.png'); 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:7px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 11px; 
}

.live-chat {
max-height:100%;
width:300px;
padding-left:0px;
padding-right:0px;
border: 0px solid #1e1716;
width:100%;
}


/*----------------------------Tabs CSS-----------------------------------------*/
.nav-pills {
  border-bottom: 1px solid #dddddd;
  float:right;
      width:40%;
padding-left:0px;
padding-right:0px;
height:100%;

}

.nav-pills > li {
  float: left;
  margin-bottom: -1px;
}

.nav-pills > li > a {
  color:#ffffff;
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  
}

.nav-pills > li > a:hover {
  color: #ffffff;
  border-color: darkgoldenrod darkgoldenrod #eeeeee ;
  background-color:darkgoldenrod;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #1e1716;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.tabs {
    width:28%;
padding-left:0px;
padding-right:0px;
height:100%;
float:right;
}

.live-chat {
background-color:#ffffff;
}
.btn-group,
.bootstrap-select {
float: right;
}
 
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
float:right;
}

.playa input[type="range"] {
border:0px!important;
}

.glyphicon {
color: #ffffff!important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
color:#ffffff;
}

.chat-coments{
    height:100%!important;
}
#enterMessage {
width:60px;
height:65px;
margin:0px!important;
padding:0px!important;
}
.send-row {
margin-bottom:20px;
}
input, select, textarea
 {
width:100%!important;
max-width:100%!important;
}

.audio-handler span
{
    color:darkorange;
}
