﻿@{
    List<SelectListItem> ganres = new List<SelectListItem>();
    ganres.Add(new SelectListItem()
    {
        Text = "",
        Value = ""
    });
    foreach (Ganres ganre in Enum.GetValues(typeof(Ganres)))
    {
        ganres.Add(new SelectListItem() { Value = ((int)ganre).ToString(), Text = ganre.ToString() });
    }
}
<button class="btn sorting" type="button" data-toggle="modal" data-target="#myModal">Фільтрувати<i class="glyphicon glyphicon-filter"></i></button>
<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#liveChatPane">Чат</a></li>
    <li><a data-toggle="pill" href="#ratingsPane">Текст</a></li>
</ul>
<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Фільтр</h4>
            </div>
            <div class="modal-body">
                <span class="text-left">Назва треку  <input class="search-box form-control" id="titleQuery" type="text" placeholder="Type something…"></span>
                <hr />
                <span class="text-left">Виконавець  <input class="search-box form-control" id="artistQuery" type="text" placeholder="Type something…"></span>
                <hr />
                <span class="text-left">Жанр</span>
                @Html.DropDownList("Ganre", ganres, new { @class = "selectpicker" })

                @*<span class="text-left">Оцінка</span>
                <div class="rating">
                    <span><img src="../../Content/img/star-off.png" /></span>
                    <span><img src="../../Content/img/star-off.png" /></span>
                    <span><img src="../../Content/img/star-off.png" /></span>
                    <span><img src="../../Content/img/star-off.png" /></span>
                    <span><img src="../../Content/img/star-off.png" /></span>
                </div>*@


            </div>
            <div class="modal-footer">
                <button class="btn btn-default" style="float:right" id="filter" type="button" data-dismiss="modal">Фільтрувати</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#filter").click(function () {
        var data = { titleQuery: $("#titleQuery").val(), artistQuery: $("#artistQuery").val(), ganre: $("#Ganre").val() }
       $.ajax({
            type: "POST",
            url: "../Audio/Search",
            data: JSON.stringify(data),
            dataType: "html",
            contentType: "application/json",
            success: function (response) {
                $("#audio-handler").html("");
                $("#audio-handler").html(response);
            }
        });
    });
</script>