﻿@{
    Database.Models.User currentUser = Models.Auth.Authentication.CurrentUser;
}

<div class="live-chat" id="live-chat">
    <div class="row" style="overflow:hidden">
        <div id="MessagesPlace"></div>
    </div>

    <div class="row send-row">
        <div class="col-xs-10">
            <!--@Html.TextBox("Message","",new { @class="form-control"})-->
            <textarea id="Message" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-xs-2" style="padding: 0px!important;">
            <button type="button" id="enterMessage" class="btn btn-primary">
                <i class="glyphicon glyphicon-envelope"></i>
            </button>
            
        </div>
    </div>
</div>

<script>
    var currUserPhoto = '@currentUser.Photo';
    var messages = [];
    var lastSecond = 0;

    $(document).ready(function () {
        var height = $('body').height();
        height -= $('.navbar.header').height();
        height -= $(".filters").height();
        height -= 30;
        $(".site-column").height(height);
        $("#MessagesPlace").height(height - $(".send-row").height());
        $("#Lyrics").height(height - $(".main-rating").height());

        $("#enterMessage").click(function () {
            var message = $("#Message").val();
            if (message == "" || message.replace(" ", "") == "")
                return;
            var currSong = $(".song-playing");
            if (currSong.length == 0)
                return;
            PushMessage(currUserPhoto, message, Math.floor($(currSong).prop("currentTime")), false);
            var data = { ownerId: currSong.attr("data-owner-id"), songId: currSong.attr("data-song-id"), time: currSong.prop("currentTime"), message: message };
            $("#Message").val("");
            $.ajax({
                type: "POST",
                url: "../Audio/AddMessage",
                data: JSON.stringify(data),
                dataType: "html",
                contentType: "application/json",
            });
        });
    });

    function PushMessage(photo,message,time,isHidden)
    {
        var display = isHidden ? "none" : "auto";
        var a = "<div class='row chat-message-row' style='display:"+display+";'data-time='"+time+"'></div>"
        var element = $(a);
        element.append("<div class='col-xs-2'></div>");
        element.append("<div class='col-xs-6'><span>" + message + "</span></div>");
        element.append("<div class='col-xs-2'><img src='"+photo+"' class='img-circle img-responsive' alt='Фото користувача'></div>");
        $("#MessagesPlace").append(element);
        $("#MessagesPlace").animate({ scrollTop: $('#MessagesPlace').prop("scrollHeight") }, 1000);
    }

    function LoadData(song)
    {
        var currSong = $(song);
        var data = { ownerId: currSong.attr("data-owner-id"), songId: currSong.attr("data-song-id") };
        $.ajax({
            type: "POST",
            url: "../Audio/GetAudioData",
            data: JSON.stringify(data),
            dataType: "html",
            contentType: "application/json",
            success:function(response)
            {
                var data = JSON.parse(response);
                messages = data.messages
                console.debug(data);
                $.each(messages, function () {
                    PushMessage(this.photo, this.message,this.time,true);
                });
                $(".main-rating > span").removeClass("user-rate").removeClass("song-rate");;
                if(data.userRate!=0)
                {
                    $(".main-rating > span[data-rate='" + data.userRate + "']").addClass("user-rate");
                }
                if(data.songRate!=0)
                {
                    $(".main-rating > span[data-rate='" + data.userRate + "']").addClass("song-rate");
                }
                $("#Lyrics>span").html(data.lyrics.replace(/(\r\n|\n|\r)/gm, "<br />"));
            }
        });
    }
</script>

<style>
    #MessagesPlace
    {
        overflow-y:auto;
    }

    #MessagesPlace::-webkit-scrollbar
    {
        display:none;
    }

    .chat-message-row span
    {
        word-wrap:break-word;
    }
</style>